{% extends "master.html" %}
{% block body %}

<div class="full_pg">

  <div class="login_box">
    <!-- Top bar select login/signup -->
    <table width=100% style="margin-top:15px;">
      <tr>
        <td style="color:green;" id="login_text"> <center>
          <div class="login_text" onclick='login_signup("login_text", "signup_text", "login_show", "signup_show");'>Log in</center></div>
        </td>
        <td style="color:black;" id="signup_text"> <center>
          <div class="login_text" onclick='login_signup("signup_text", "login_text", "signup_show", "login_show");console.log("clicking");'>Sign up</center></div>
        </td>
      <tr>
    </table>
    <hr>
    <!-- Login/signup bars -->
    <form method="post">
      <div id="login_show" style="display:block;">
        <div class="form-group">
          <label for="usernameLogin">Username</label>
          <input type="text" class="form-control" name="usernameLogin">
        </div>
        <div class="form-group">
          <label for="passwordLogin">Password</label>
          <input type="password" class="form-control" name="passwordLogin">
        </div>
        <input name="button" type="submit" class="sign_log" value="Log In" style="margin-top:15px;">
      </div>
    </form>
    <form method="post">
      <div id="signup_show" style="display:none;">
        <div class="form-group">
          <label for="usernameSignup">Username</label>
          <input type="text" class="form-control" name="usernameSignup">
        </div>
        <div class="form-group">
          <label for="passwordSignup">Password</label>
          <input type="password" class="form-control" name="passwordSignup">
        </div>
        <div class="form-group">
          <label for="emailSignup">Email (optional)</label>
          <input type="email" class="form-control" name="emailSignup">
        </div>
        <input name="button" type="submit" class="sign_log" value="Sign Up" style="margin-top:15px;">
      </div>
    </form>
  </div> <!-- END OF LOGIN BOX -->
  <button class="anon_box" onclick="window.location='/browse'">Browse Anonymously</button>

</div>


{% endblock %}
