{% extends "master.html" %}
{% block body %}

{% if not username %}
  <center>
    <h3> You are uploading as <span style="color:red;">anonymous</span>. </h3>
  </center>
{% else %}
  <center>
    <h3> You are uploading as <span style="color:red;">{{username}}</span>. </h3>
  </center>
{% endif %}



<center> <!--clicks the <input type="file"> -->
  <button class="file_choose_but" onclick="document.getElementById('file_upload').click();"> Choose File </button>
  <br>
  <div class="file_selected">
    Selected file: <div id="file_name" class="show_file"></div>
  </div>
  <table class="check_vals">

  </table>
</center>

<center>
  <form method="post" id="upload_form">
    <div style="display:none;">
      <input type="file" id="file_upload" accept="image/*">
    </div>
      <!-- still needs javascript to push button ONLY if filename ends in .png .jpg, .gif -->
  </form>
</center>


<script src="../static/js/utils_upload.js"></script>
{% endblock %}
